@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    color:#343C6A
}

@layer base {
  .max-width {
    @apply max-w-[1440px] mx-auto;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-cards-custom {
    background: linear-gradient(107deg, #4C49ED 2.61%, #0A06F4 101.2%);
  }
}

.sidebar-close {
  position: absolute;
  top: 0;
  left: -500px;
  z-index: 100;
  animation: closeMenu 0.1s ease-in;
  -webkit-animation: closeMenu 0.1s ease-in;
}

@keyframes closeMenu {
  0%{
    left: 0px;
  } 100% {
    left: -500px;
  }
}

@media screen and (min-width: 768px){
  .sidebar-open {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 40%;
    z-index: 100;
    animation: openMenu 0.1s ease-out;
    -webkit-animation: openMenu 0.1s ease-out;
  }
  
  @keyframes openMenu {
    0% {
      width: 0%;
    }
    100%{
      width: 40%;
    }
  }
}

@media screen and (max-width: 426px){
  .sidebar-open {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 70%;
    z-index: 100;
    animation: openMenu 0.1s ease-out;
    -webkit-animation: openMenu 0.1s ease-out;
  }
  
  @keyframes openMenu {
    0% {
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
}




/* css my card */
.custom-bottom-card{
  width: 16rem;
  height: 4rem;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  background: linear-gradient(30deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
  flex-shrink: 0;
  -webkit-border-radius: 0rem 0rem 1.25rem 1.25rem;
  -moz-border-radius: 0rem 0rem 1.25rem 1.25rem;
  -ms-border-radius: 0rem 0rem 1.25rem 1.25rem;
  -o-border-radius: 0rem 0rem 1.25rem 1.25rem;
}